<section class="w-auto h-full flex flex-col gap-3">
  <expence-tracker-header></expence-tracker-header>

  <expense-tracker-balance></expense-tracker-balance>

  @if (showIncomeExpense) {
    <expense-tracker-income-expense></expense-tracker-income-expense>
  }

  @if (showTransactionHistory) {
    <expense-tracker-transaction-history
      class="flex-shrink min-h-[168px]"></expense-tracker-transaction-history>
  }

  @if (showAddTransaction) {
    <expense-tracker-add-transaction></expense-tracker-add-transaction>
  }
</section>
